<div class="w-full flex justify-center">
  <%= link_to "Create a new todo",
              new_todo_path,
              class: "w-full md:w-auto px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 cursor-default",
              data: {
                controller: "bridge--button",
                bridge_title: "Create",
                bridge_image_name: "plus"
              } %>
</div>
