<%= content_for :title, "About" %>

<div class="flex flex-col gap-4">
  <h1 class="font-bold text-4xl mobile-app:hidden">About</h1>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum earum aliquid porro, consequatur
    aliquam dignissimos et quas, dicta vero dolorem minima laudantium alias. Praesentium quod molestias
    sed, impedit aliquam dolorem?
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis explicabo suscipit atque eos! Ipsa
    ipsam voluptates quas eos amet eum, expedita voluptate, animi officiis minima eveniet dolores architecto
    quibusdam odio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, molestias odio. Reprehenderit
    odio esse iusto quos enim voluptate dicta amet molestias impedit. Ipsam, quo rem eum est consectetur vel
    perferendis!
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis explicabo suscipit atque eos! Ipsa
    ipsam voluptates quas eos amet eum, expedita voluptate, animi officiis minima eveniet dolores architecto
    quibusdam odio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, molestias odio. Reprehenderit
    odio esse iusto quos enim voluptate dicta amet molestias impedit. Ipsam, quo rem eum est consectetur vel
    perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis explicabo suscipit atque eos! Ipsa
    ipsam voluptates quas eos amet eum, expedita voluptate, animi officiis minima eveniet dolores architecto
    quibusdam odio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, molestias odio. Reprehenderit
    odio esse iusto quos enim voluptate dicta amet molestias impedit. Ipsam, quo rem eum est consectetur vel
    perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis explicabo suscipit atque eos! Ipsa
    ipsam voluptates quas eos amet eum, expedita voluptate, animi officiis minima eveniet dolores architecto
    quibusdam odio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, molestias odio. Reprehenderit
    odio esse iusto quos enim voluptate dicta amet molestias impedit. Ipsam, quo rem eum est consectetur vel
    perferendis!
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis explicabo suscipit atque eos! Ipsa
    ipsam voluptates quas eos amet eum, expedita voluptate, animi officiis minima eveniet dolores architecto
    quibusdam odio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, molestias odio. Reprehenderit
    odio esse iusto quos enim voluptate dicta amet molestias impedit. Ipsam, quo rem eum est consectetur vel
    perferendis!
  </p>
</div>
